:root {
    font-family: Sans-serif;
    font-weight: bold;
}

body {
    margin: 0;
}

.outer {
    display: grid;
    grid-template-columns: 1.5fr 6fr;
    height: 100vh;
}

.left {
    background-color: #1992d4;
}

.list {
    list-style-type: none;
    color: #fdfeff;
}

#dash {
    margin-top: 20px;
    font-size: 25px;
}

#list1 {
    display: flex;
    flex-direction: column;
    gap: 19px;
    padding-bottom: 48px;
    padding-top: 55px;
    font-size: 19px;
}

#list2 {
    display: flex;
    flex-direction: column;
    gap: 19px;
    padding-bottom: 40px;
    font-size: 19px;
}

.pair {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.pair > img {
    margin-top: -3px;
}

#dash > img {
    margin-top: -10px;
    padding-right: 40px;
    position: absolute;
    left: 28px;
}

#dash > li {
    position: absolute;
    left: 95px;
}

/* AI generated solution to inver the colors of the SVG and make them white */
.pair img {
    filter: invert(100%) brightness(200%);
}


.right {
    display: grid;
    grid-template-rows: 2fr 7fr;
}

.upper {
    background-color: white;
}

.lower {
    background-color: #e2e8f0;
}

input {
    width: 630px;
    height: 27px;
    background-color: #e2e8f0;
    border-radius: 14px;
    border: none;
}

.search {
    margin-left: 40px;
    display: flex;
    gap: 15px;
    margin-top: 20px;
}

button {
    background-color: white;
    border: none;
    cursor: pointer;
    padding-top: 6px;
}

#sea {
    display: flex;
    gap: 140px;
}

.notis {
    margin-top: 20px;
    margin-left: 130px;
}

.notis > img {
    position: absolute;
    top: 0;
    margin-left: 10px;
}

#pp {
    position: absolute;
    top: 0;
    margin-top: 27px;
    margin-left: 125px;
}

.pic {
    display: flex;
    margin-top: 10px;
    margin-left: 26px;
}

.pic1 {
    display: flex;
    flex-direction: column;
}


.greeting {
    font-size: 15px;
    margin-bottom: -20px;
    margin-top: 35px;
}

#na {
    font-size: 23px;
    font-weight: 800;
}

.profile {
    display: flex;
    gap: 500px;
}

#btn {
    margin-top: 30px;
    display: flex;
    gap: 30px;
    margin-right: 10px;
    margin-top: 50px;
}